.html,
body {
  background: #4ccbf2;
  background: -webkit-linear-gradient(top left, #4ccbf2, #67d79c);
  background: -moz-linear-gradient(top left, #4ccbf2, #67d79c);
  background: linear-gradient(to bottom right, #4ccbf2, #67d79c);
  height: 100vh;
}

.header {
  padding: 30px;
}
